
.tab{
    width: 100%;
    height: 50px;
    
}
.tablinks{
    width: 100%;
    height: 10%;
    background: #f56363;
    color: #ffffff;}

.tab button{
    background:#474747;
    color: #ffffff;
    width: 15%;
    height: 100%;
    float: left;
border: none;
outline: none;
font-size: 15px;


}
.tab button:hover{
    background: #f56363;
    width: 15%;
    height: 100%;
    float: left;
    
border: none;
outline: none;
font-size: 17px;
}
.tabcontent{
    height: 90%;
    background: transparent;
    text-align: left;
    padding-left: 3%;
    color: black;
    display: none;

}
.tab button.active {
    border: none;
outline: none;
    background-color: #f56363;
    font-size: 17px;
}

table{
    padding-left:2%; 
    margin-bottom: 5%;
}
#london table tr td{
    padding-right: 20px;
    padding-bottom: 5px;

}
#london a{
    color: black;
}
#london a:hover{
    color: green;
}
#paris a{
    color: black;
}
#paris a:hover{
    color: green;
}
#tokyo img{
    float: left;
    padding-right: 5%;
}
#tokyo a{
    color: black;
    text-decoration: none;
}
#tokyo a:hover{
    color: green;
}
input{
    font-weight: 100;
}
table tr td{
    padding-left: 10px;
}